version: "3.9"

services:

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - doctor-service
      - patient-service
      - appointment-service
      - notification-service
    networks:
      - backend-network

  auth-service:
    build: ./auth-service
    networks:
      - backend-network

  doctor-service:
    build: ./doctor-service
    networks:
      - backend-network

  patient-service:
    build: ./patient-service
    networks:
      - backend-network

  appointment-service:
    build: ./appointment-service
    networks:
      - backend-network

  notification-service:
    build: ./notification-service
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
